In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.array([0, 7, 3, 6, 2, 8, 5, 9, 4]).reshape(3, -1)
df = pd.DataFrame(data, index=['One', 'Two', 'Three'], columns=['a', 'b', 'c'])

print(df)

       a  b  c
One    0  7  3
Two    6  2  8
Three  5  9  4

In [12]:
print("it throws error, and need to add df.col['One']")
df["One"]

it throws error, and need to add df.col['One']

KeyError: 'One'

In [5]:
df[:2]

     a  b  c
One  0  7  3
Two  6  2  8

In [6]:
list(df.columns)

['a', 'b', 'c']

In [8]:
df['b']['Two']

2

In [9]:
df.drop('a', axis=1)

       b  c
One    7  3
Two    2  8
Three  9  4

In [10]:
list(df.sum(axis=0))

[11, 18, 15]

In [11]:
df.sort_values(by='c')

       a  b  c
One    0  7  3
Three  5  9  4
Two    6  2  8